body{

  margin: 0;

}
video{
 
 

  
  

}
p
{
    border-left: 2px solid rgb(94, 94, 94);;
    border-right: 2px solid rgb(94, 94, 94);
    border: rgb(172, 172, 172) 8px outset;
    background-color: rgba(78, 78, 78, 0.753);
  text-indent: 25px;
  color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
 
}
h2{

  
   
  color: white;
  text-shadow: 1px 1px #cc1b1b;

}

h1{

  
   
    color: white;
    text-shadow: 1px 1px #81b71a;

}


label{
  color: white;
    text-shadow: 1px 1px rgb(43, 43, 43);
}
strong{
  background: rgb(118, 119, 118);

  color: white;
    text-shadow: 1px 1px rgb(22, 102, 22);
}
h3{
  text-size-adjust: 2px;
}
MARQUEE{
  color: white;
}
body 
{
background-image: url('https://image.freepik.com/foto-gratis/reflector-que-brilla-abajo-interior-grunge_1048-6921.jpg');

background-attachment: fixed
}